@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalWeb1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   

     <link rel="stylesheet" href="~/css/myStyle.css" asp-append-version="true" />
   @*  <link rel="stylesheet" href="~/FinalWeb1.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" />
   

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">SecondFashion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        
                        @if (User.IsInRole(SD.Role_Seller))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Seller" asp-controller="Sellproduct" asp-action="Index">Sell Product</a>
                            </li>
                        }

                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="Order" asp-action="Index">Manage Order</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Managment
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Transaction" asp-action="Index">Transaction</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Manage User</a>
                                    </li>                                   
                                </ul>
                            </li>

                            
                        }
                        @if(User.IsInRole(SD.Role_Customer))    
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="Order" asp-action="Index">Manage Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                @await Component.InvokeAsync("ShoppingCart")
                                </a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    
    
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white bg-primary mt-3">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            SecondFashion
                        </h6>
                        <p>
                            Head office: 11 Huynh Tan Phat, District 1, Da Nang City, Vietnam.
                            <br />
                            Representative: Mr. Le Nguyen Quang Nam - Position: General Director.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="text-white">Men's Clothing'</a>
                        </p>
                        <p>
                            <a class="text-white">Women's Clothing'</a>
                        </p>
                        <p>
                            <a class="text-white">Unisex Clothing</a>
                        </p>
                        <p>
                            <a class="text-white">Accessories</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="bi bi-house-fill"></i> Da Nang, DN 50000, VN</p>
                        <p><i class="bi bi-envelope-fill"></i> secondfashion032024@gmail.com</p>
                        <p><i class="bi bi-telephone-fill"></i> + 84 545 676 11</p>
                        <p><i class="bi bi-printer-fill"></i> + 48 412 567 02</p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: #3b5998"
                            href="#!"
                            role="button">
                            <i class="bi bi-facebook"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: black"
                            href="#!"
                            role="button">
                            <i class="bi bi-twitter-x"></i>
                        </a>

                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: #dd4b39"
                            href="#!"
                            role="button">
                            <i class="bi bi-google"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: #ac2bac"
                            href="#!"
                            role="button">
                            <i class="bi bi-instagram"></i>
                        </a>

                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: #0082ca"
                            href="#!"
                            role="button">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1"
                            style="background-color: #333333"
                            href="#!"
                            role="button">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3 bg-secondary">
            © 2024 Copyright:
            <a class="text-white" href="#">SecondFashion.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    
    <!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>   
    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="//cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
